<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dheeraj"
        tools:targetApi="30">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".versioncheck.VersionUpdate"
            android:exported="false"
            tools:ignore="MissingClass" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4119321529958098~8459175643" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".adminpages.UpdateCVInterview"
            android:configChanges="orientation"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminpages.UpdateClinteInterview"
            android:configChanges="orientation"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.homebutton.CVDownload"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ForgetPassword"
            android:configChanges="orientation"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminpages.Adminpage"
            android:configChanges="orientation"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminpages.InterviewUpload"
            android:configChanges="orientation"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.homebutton.InterviewDownload"
            android:configChanges="orientation"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminpages.CVUpload"
            android:configChanges="orientation"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:theme="@style/Theme.JobAdda.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"
            tools:replace="android:resource" />
        <service
            android:name=".notification.MyFirebaseMessagingReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>